<div class="text-center">
  <h1>Accomodations</h1>
  <div class="row">

    <%= link_to "http://shirewoodstock.com/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="shire_card">
          <div class="ribbon">
            <h3> The Shire </h3>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "https://www.choicehotels.com/vermont/quechee/quality-inn-hotels/vt014", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="quality_card">
          <div class="ribbon">
            <h3> Quality Inn </h3>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "http://vtstateparks.com/quechee.html", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="quechee_card">
          <div class="ribbon">
            <h3> Quechee State Park </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
