<div class="text-center">
  <h1>Accomodations</h1>
  <div class="row">
    <%= link_to "https://jacksonhouse.com/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="jackson_card">
          <div class="ribbon">
            <h3> The Jackson House Inn </h3>
          </div>
        </div>
        <p class="accomodation_description">
          "Located just outside the heart of Woodstock, Vermont,
          The Jackson House Inn provides a peaceful alternative to the vibrant village streets."
          Cause we all know how rowdy things are in Vermont.
        </p>
        <p class="accomodation_description">
          Suites from $259, less fancy rooms from $209.
        <p>
      </div>
    <% end %>

    <%= link_to "http://shirewoodstock.com/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="shire_card">
          <div class="ribbon">
            <h3> The Shire </h3>
          </div>
        </div>
        <p class="accomodation_description">
          Overlooking the Ottauquechee River in the town of Woodstock. Walk to
          the town (including tons of restaurants/cafes etc). A mile from Billings
          Farm and the National Park. Will have shuttle to/from venue
        </p>
        <p class="accomodation_description">
          Prices range from $209 to $239. Mention block of rooms held under Goodell-Gesior
        </p>
        <p class="accomodation_description">
          Minimum Stay: 2 nights
        </p>
      </div>
    <% end %>

    <%= link_to "https://www.choicehotels.com/vermont/quechee/quality-inn-hotels/vt014", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="quality_card">
          <div class="ribbon">
            <h3> Quality Inn </h3>
          </div>
        </div>
        <p class="accomodation_description">
          Affordable (pet friendly) hotel around 30 min from venue.
          Close to the Quechee State Park, Sugarbush Farms, Billings Farm & Museum,
          and Montshire Museum of Science. Will have shuttle to/from venue
        </p>
        <p class="accomodation_description">
          $125 for double, $118 for king room (Goodell-Gesior block). Hard 3pm check-in rule
        <p>
      </div>
    <% end %>

  </div>

  <div class="row">
    <%= link_to "http://vtstateparks.com/quechee.html", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="quechee_card">
          <div class="ribbon">
            <h3> Quechee State Park </h3>
          </div>
        </div>
        <p class="accomodation_description">
          Camping! There are large tent/camper sites and a number of lean-tos.
          If you want to take advantage of the beautiful Vermont outdoors, check this out
        </p>
        <p class="accomodation_description">
          Minimum Stay: 2 nights
        </p>
      </div>
    <% end %>
  </div>
</div>
