<div class="text-center">
  <h1>Itinerary</h1>
  <%= image_tag 'decoration.jpg', width: '150px' %>
  <h2>Saturday, September 2</h2>
  <p>4pm: Ceremony</p>
  <p>4:45pm: Reception</p>
  <p>7:15pm: First Dance</p>
  <p>Reading Farms Estate</p>
  <p>Reading, Vermont</p>
  <p>REMINDER: There is no parking at the venue</p>
  <%= image_tag 'decoration.jpg', width: '100px' %>
  <h2>Sunday, September 3</h2>
  <p>10am to 1pm: Brunch</p>
  <p><%= link_to "Simon Pearce", "https://www.simonpearce.com/our-restaurant/"  %></p>
  <p>Quechee, Vermont</p>
</div>
