<div class="text-center">
  <h1>Itinerary</h1>
  <%= image_tag 'decoration.jpg', width: '150px' %>
  <h2>Saturday, September 2</h2>
  <p>Reading, Vermont</p>
  <p>4pm: Ceremony</p>
  <%= image_tag 'decoration.jpg', width: '100px' %>
  <h2>Sunday, September 3</h2>
  <p>10am to 1pm: Simon Pearce - Quechee, Vermont</p>
  <p>Brunch</p>
</div>
