<div class="text-center">
  <h1>The Venue</h1>
  <%= link_to "Learn more about the site of the wedding", "https://vermontweddings.com/locations/special-events/reading-farms-estate", target: "blank" %>
</div>
