<div class="text-center">
  <h1>Wedding Party</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card text-center" id="adam_card">
      <div class="bottom_ribbon sarah">
        <h3> Adam </h3>
      </div>
    </div>
    <p>
      Man of honor, friends since kindergarten, most likely to live next door to
      Sarah when they are both old … though they haven’t lived in the same state
      since college
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="amanda_card">
      <div class="bottom_ribbon sarah">
        <h3> Amanda </h3>
      </div>
    </div>
    <p>
      1/3 of the freshman triple, current winner of most extroverted friend, badass lawyer
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="andy_card">
      <div class="bottom_ribbon andy">
        <h3> Andy </h3>
      </div>
    </div>
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card text-center" id="anne_card">
      <div class="bottom_ribbon sarah">
        <h3> Anne </h3>
      </div>
    </div>
    <p>
      Also voyaged across the country after college to work for Epic, responsible
      for getting Sarah out of her house and having fun in Madison
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="dena_card">
      <div class="bottom_ribbon sarah">
        <h3> Dena </h3>
      </div>
    </div>
    <p>
      Fellow Epic-er, game enthusiast, and 1/2 of the couple Sarah third-wheeled for three years in Madison
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="drew_card">
      <div class="bottom_ribbon andy">
        <h3> Drew </h3>
      </div>
    </div>
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card text-center" id="ellen_card">
      <div class="bottom_ribbon sarah">
        <h3> Ellen </h3>
      </div>
    </div>
    <p>
      1/3 of the freshman triple, cut-throat card player, fellow introvert, most
      likely to approach problems through baking, spirit animal
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="john_card">
      <div class="bottom_ribbon sarah">
        <h3> John </h3>
      </div>
    </div>
    <p>
      Fellow WHS graduate – though didn’t become real friends with Sarah until he
      moved to Madison with Dena, 1/2 of the couple Sarah third-wheeled for three years in Madison
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="kyle_card">
      <div class="bottom_ribbon andy">
        <h3> Kyle </h3>
      </div>
    </div>
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card text-center" id="luke_card">
      <div class="bottom_ribbon andy">
        <h3> Luke </h3>
      </div>
    </div>
    <p>
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="nick_card">
      <div class="bottom_ribbon andy">
        <h3> Nick </h3>
      </div>
    </div>
    <p>
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="steve_card">
      <div class="bottom_ribbon andy">
        <h3> Steve </h3>
      </div>
    </div>
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="card text-center" id="tim_card">
      <div class="bottom_ribbon andy">
        <h3> Tim </h3>
      </div>
    </div>
    <p>
    </p>
  </div>

  <div class="col-md-4">
    <div class="card text-center" id="paige_card">
      <div class="bottom_ribbon sarah">
        <h3> Paige </h3>
      </div>
    </div>
    <p>
      Cousin extraordinaire, responsible for getting Andy and Sarah on their
      first date, all around wonderful human
    </p>
  </div>
</div>
