<div class="text-center" >
  <a class="zola-registry-embed" href="https://www.zola.com/registry/andysgotthegoods" data-registry-key="andysgotthegoods">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
  <h1>OR</h1>
  <%= link_to 'https://www.amazon.com/wedding/sarah-goodell-andy-gesior-reading-september-2017/registry/2OHPI1XOD9MTI' do %>
    <%= image_tag ("amazon.png") %>
  <% end %>
</div>
