<div class="text-center">
  <h1>Venue</h1>
  <p id="redacted">XXXXXXXXXXXX</p>
  <p>This information has been redacted</p>
  <!-- <p><%= link_to "Learn more about the site of the wedding", "https://vermontweddings.com/locations/special-events/reading-farms-estate", target: "blank" %></p> -->
</div>
<!--
<div class="row">
  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_1_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_2_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_3_card">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_4_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_5_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_6_card">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_7_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_8_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="home_card text-center" id="venue_9_card">
    </div>
  </div>
</div> -->
