<div class="col-md-11">
<h1 class="text-center">
  The Sarah and Andy Saga
</h1>
<h2>
<h2>
  <i>If you would like an alternative telling of how Sarah and Andy met,
    please check out the man of honor’s take on the affair
    <%= link_to "here", alternate_story_path %>.</i>
</h2>
<h2>
  The year: 2012, the place: Madison, Wisconsin. Sarah had relocated to the city
  that summer due to getting hired (despite her liberal arts degree!) at a healthcare
  software company located in Wisconsin. Andy was in the city because he had lived
  in Wisconsin his whole life (growing up about an hour’s outside of Madison) and was
  working at a UW biochem lab after graduation – spending his working hours cloning
  DNA and gchatting with his friends.
</h2>
<div class="row">
  <div class="col-sm-6 text-center">
    <%= image_tag('Andy640x1040.png', height: "600", id: "story_image") %>
  </div>
  <div class="col-sm-6 text-center">
    <%= image_tag('Sarah1000x1625.png', height: "600", id: "story_image") %>
  </div>
</div>
<h2>
  Being twenty-somethings living in 2012, both of them were dabbling in online dating,
  having created profiles initially more as a joke/because they were curious. Sarah
  stayed on because she started getting messages pretty quickly, Andy stayed on because
  it was less effort than deleting his profile. One night while perusing the list of smiling
  faces, Andy noticed Sarah’s profile. Within it, her response to the prompt
  <strong>I spend a lot of time thinking about</strong> was <i>world domination by means of sporks</i>.
</h2>
<h2>
  Not to be outdone with regards to cutlery, Andy sent her an initial message.
</h2>
<h2>
  Below is the transcript:
</h2>
<blockquote>
  <h2>
    Apr 2, 2012 12:58pm
  </h2>
  <h2>
    Sporks are good, don’t get me wrong. You could take over a county in Iowa with just sporks. Maybe even Vermont. But if you’re talking world domination via hybrid utensils, the first step is uniting all various tribes under one banner. There’s the knorks, the spifes, the splayds, the sporfs, and of course the Finnish lusikkahaaruka. (No I did not get this all from Wikipedia) Now with their forces combined, and maybe a good swiss army knife as general, you could conquer the world. Let me know if you want further guidance, and let the spork be with you.
  </h2>
</blockquote>
<h2>
  Seeing as this was a particularly original and funny initial message, it was odd
  that the days ticked by and he did not get a response. I mean, it’s such a better
  opener than the typical, and oh so engaging, “hi, how’s it going?” But alas, the
  days did pass, so he chalked it up to the perils of online dating and didn’t dwell on it.
</h2>
<h2>
  Sarah on the other hand had read and enjoyed this message, but was online pretty late
  and, figuring it deserved a good response in return, decided that rather than reply
  right away she would wait until she was more rested in the morning. And then she abruptly
  forgot about said plan when she woke up, was getting pretty sick of fruitless online dating
  (having invested months of her life into the pursuit), and stopped actively messaging people
  in general.
</h2>
<h2>
  About a month later, Sarah was in Chicago visiting her cousin Paige and talking
  about the woes of online dating, including the ridiculous numbers of first dates
  she had been on over the past several months. Paige was super interested because
  she had been in the same relationship for six years and never got to experience
  all the fun of the online dating world, and made Sarah sign into her account
  so she could read all of the messages she had been getting. Paige went through
  recent ones and flagged those she thought Sarah should respond to. When she got to
  Andy’s, Paige asked why Sarah hadn’t responded to it yet, and Sarah –after looking it over-
  remembered that she had indeed meant to but had forgotten. That night, while Paige sat
  next to her watching television, Sarah responded to the guy with whom she would have her
  last (and definitely most enjoyable) first date.
</h2>
</div>
