<div class="col-md-11">
<h1 class="text-center">
  The Sarah and Andy Saga
</h1>
<h2>
Andy was born in a town that is impossible for anyone outside of Wisconsin to spell
and Sarah was born in a town that is impossible for anyone outside of Massachusetts
to pronounce. When Andy was born, Sarah was still a clump of cells, and, as such a
relationship would have been frowned upon, fate decided that they would not meet for
another twenty-three years. They both have parents and siblings and pets and other facts
about their childhood that were dryly discussed on their first date and made them wonder
“Is this going well? I thought it was going well, but now I’m not sure anymore.”
</h2>
<div>
  <div class="col-sm-6 text-center">
    <%= image_tag('Andy640x1040.png', height: "600", id: "story_image") %>
  </div>
  <div class="col-sm-6 text-center">
    <%= image_tag('Sarah1000x1625.png', height: "600", id: "story_image") %>
  </div>
</div>
<h2>
Andy was adventurous from a young age, which in our dystopian society, where The Council
chooses our professions and announces them in our thirteenth year at the annual Reckoning
(later renamed “Job Placement Fair sponsored by Monster.com”), meant that he was destined
to be a soldier. He later defied this prophecy, leading to a violent coup d'etat that
left people freer but possibly less happy and definitely hungrier. Sarah was born with
the acting bug, a small parasite that "acts" like a deer tick. Its mimicry is so perfect
that many doctors think it is a deer tick. It was in fact a deer tick. The story made
the front page of the New York Daily News with the headline "TICK TICK WOMB" and set
back the <em>en plein air</em> birth movement for decades until Blake Lively birthed her baby
directly into Lake George (source: Instagram). Taking the tick’s place was the opportunistic
acting-as-a-side-hobby bug, a less destructive species that results in a higher median income.
</h2>
<h2>
Andy and Sarah went about their respective lives with what physicists call minimal
gravitational force on each other. In fact, their gravitational pull on each other
was so weak that it's a wonder they ever came together at all. Astrologists call it
the workings of cosmic energy and the fulfillment of a plan set in motion by the beginning
of time. Astronomers call it, "Stop harassing John Glenn's widow or we'll have to file a
restraining order," a phenomenon for which they should consider coming up with a pithy acronym.
</h2>
<h2>
But they did eventually meet, at NerdCon 2012, where Sarah mistook Andy for Nathan
Fillion and Andy mistook Sarah for a rare Magic: The Gathering card that cost only
three mana but contorted all other opponents into the poses of Picasso's <em>Les Demoiselles
d'Avignon</em>. It was a month into the relationship, when Andy still hadn't taken Sarah to
Madison's fanciest restaurant, L'Etoile, that she began to suspect that Andy was not the
Canadian six-foot-two star of Firefly and Dr. Horrible fame. A month later, when Andy
tried to shuffle Sarah into a deck of cards and throw her face up onto a coffee table
during a Magic game, he suspected she was not the elusive Cubist Contortion card. A
pathological fear of confrontation led them to wait four months before discussing
their actual identities. Though both were disappointed, by that point, their souls
were intertwined like a piece of braided spicy cheese bread at the Madison farmer's market.
</h2>
<h2>
The couple could have started down a path to a life full of all the Midwest comforts
that are afforded to those with the digestive tracts to handle curds and custards.
Andy, however, decided to swap his cow-milking hands for a pair of jazz hands and move
to New York. Sarah, not one to be outdone, decided to swap her normal feet for a pair
of tap-dancing feet and was barred from every major museum in New York. Dejected,
Sarah was ready to give up on the “Big Apple,” as every New Yorker unironically calls
it at least five times a day, until Andy came up with a scheme. He would lock her in
a room until she found an engagement ring he had hidden. If she found the ring, she
would be bound by wifely duty to stay with him in New York. If not, she would stay
in the room until she agreed that New York was the greatest city on earth, upon
which time she would be released, but still forced to wear an ankle monitor to
ensure she never left the city’s confines. Thankfully she found the ring, otherwise
she could still be in that room as you are reading this.
</h2>
<h2>
Since then, all conversations have revolved around the wedding. Instead of "How are you?"
they ask each other "Do you think the caterer is providing enough vegetarian options?"
Rather than saying "I love you," they say "I need to look at the seating chart again."
They cannot leave their apartment without assessing the space in front of them as a possible
reception area. In spite of this, they still have friends and family who want to be around
them and attend the wedding, because nobody can turn down an open bar and a game of cornhole.
</h2>
</div>
