<div class="text-center">
  <h1>Venue</h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card text-center" id="venue_1_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center" id="venue_2_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center" id="venue_3_card">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card text-center" id="venue_4_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center" id="venue_5_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center" id="venue_6_card">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card text-center" id="venue_7_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center" id="venue_8_card">
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center" id="venue_9_card">
    </div>
  </div>
</div>
