
#adam_card {
  background: image-url('wedding_party.png');
  background-size: cover;
  background-position: 60% 50%;
}

#amanda_card {
  background: image-url('amanda.png');
  background-size: cover;
  background-position: 40% 30%;
}

#ellen_card {
  background: image-url('ellen.png');
  background-size: cover;
  background-position: 40% 50%;
}

#dena_card {
  background: image-url('dena.png');
  background-size: cover;
  background-position: 50% 25%;
}

#anne_card {
  background: image-url('anne.png');
  background-size: cover;
  background-position: 50% 30%;
}

#john_card {
  background: image-url('john.png');
  background-size: cover;
}

#paige_card {
  background: image-url('paige.png');
  background-size: cover;
  background-position: 40% 50%;
}

#andy_card {
  background: image-url('andy.png');
  background-size: cover;
  background-position: 55% 50%;
}

#drew_card {
  background: image-url('drew.png');
  background-size: cover;
  background-position: center;
}

#luke_card {
  background: image-url('luke.png');
  background-size: cover;
  background-position: center;
}

#kyle_card {
  background: image-url('kyle.png');
  background-size: cover;
  background-position: 60% 50%;
}

#tim_card {
  background: image-url('tim.png');
  background-size: cover;
  background-position: 40% 30%;
}

#steve_card {
  background: image-url('steve.png');
  background-size: cover;
}

#nick_card {
  background: image-url('nick.png');
  background-size: cover;
  background-position: 50% 10%;
}
