
#adam_card {
  background: image-url('wedding_party.png');
  background-size: cover;
}

#amanda_card {
  background: image-url('amanda.png');
  background-size: cover;
}

#ellen_card {
  background: image-url('ellen.png');
  background-size: cover;
}

#dena_card {
  background: image-url('dena.png');
  background-size: cover;
}

#anne_card {
  background: image-url('anne.png');
  background-size: cover;
}

#john_card {
  background: image-url('john.png');
  background-size: cover;
}

#paige_card {
  background: image-url('paige.png');
  background-size: cover;
}
