#banner {
  background: image-url("sarah_and_andy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  max-width: 1250px;
  margin-left: auto ;
  margin-right: auto ;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  h1, h2 {
    color: #ffffff;
  }
}

.centering P


a {
  color: #5d5e56;
  font-size: 1.5em;
}
a:hover {
  color: #000000;
  font-style: normal;
}

h1, h3, h2, p, a, .links {
  font-family: "Rokkitt"
}

.row {
  padding: 1em;
}

p {
  font-size: 1.5em;
}

.links {
  font-size: 1.5em;
}

#party_card {
  background: image-url('wedding_party.png');
  background-size: cover;
}

#center_card {
  background: image-url('center.jpg');
  background-size: cover;
}

#accomodations_card {
  background: image-url('accomodations.jpg');
  background-size: cover;
}

#itinerary_card {
  background: image-url('sarah_and_andy_3.jpg');
  background-size: cover;
}

#registry_card {
  background: image-url('registry.jpg');
  background-size: cover;
}

#location_card {
  background: image-url('location.jpg');
  background-size: cover;
}

#story_card {
  background: image-url('story.jpg');
  background-size: cover;
}

#shire_card {
  background: image-url('the_shire.jpg');
  background-size: cover;
}

#quality_card {
  background: image-url('quality_inn.jpg');
  background-size: cover;
}

#quechee_card {
  background: image-url('quechee.jpg');
  background-size: cover;
}

#jackson_card {
  background: image-url('jackson.jpg');
  background-size: cover;
  background-position: bottom;
}

#park_card {
  background: image-url('park.jpg');
  background-size: cover;
}

#waterfall_card, #activities_card {
  background: image-url('waterfall.jpg');
  background-size: cover;
}

#woodstock_card {
  background: image-url('woodstock.jpg');
  background-size: cover;
}

#rockefeller_card {
  background: image-url('rockefeller.jpg');
  background-size: cover;
}

#farmhouse_card {
  background: image-url('farmhouse.jpg');
  background-size: cover;
}

#keepers_card {
  background: image-url('keepers.png');
  background-size: cover;
  background-position: bottom;
}

#lincoln_card {
  background: image-url('lincoln.jpg');
  background-size: cover;
  background-position: bottom;
}

#arthur_card {
  background: image-url('arthur.jpg');
  background-size: cover;
  background-position: bottom;
}

#garlic_card {
  background: image-url('garlic.png');
  background-size: cover;
  background-position: bottom;
}

#barnard_card {
  background: image-url('barnard.jpg');
  background-size: cover;
}

#hanover_card {
  background: image-url('hanover.jpg');
  background-size: cover;
}

#bike_card {
  background: image-url('bike.jpg');
  background-size: cover;
}

#tom_card {
  background: image-url('tom.jpg');
  background-size: cover;
}

#gym_card {
  background: image-url('gym.jpg');
  background-size: cover;
}

#farm_card {
  background: image-url('farm.jpg');
  background-size: cover;
}

#golf_card {
  background: image-url('golf.png');
  background-size: cover;
}

#barnard_card {
  background: image-url('barnard.jpg');
  background-size: cover;
}

#venue_1_card {
  background: image-url('venue_1.png');
  background-size: cover;
}

#venue_2_card {
  background: image-url('venue_2.png');
  background-size: cover;
}

#venue_3_card {
  background: image-url('venue_3.png');
  background-size: cover;
}

#venue_4_card {
  background: image-url('venue_4.png');
  background-size: cover;
}

#venue_5_card {
  background: image-url('venue_5.png');
  background-size: cover;
}

#venue_6_card {
  background: image-url('venue_6.png');
  background-size: cover;
}

#venue_7_card {
  background: image-url('venue_7.png');
  background-size: cover;
}

#venue_8_card {
  background: image-url('venue_8.png');
  background-size: cover;
}

#venue_9_card {
  background: image-url('venue_9.png');
  background-size: cover;
}

#redrooster_card {
  background: image-url('redrooster.jpg');
  background-size: cover;
}

#longtrail_card {
  background: image-url('longtrail.jpg');
  background-size: cover;
}

#max_card {
  background: image-url('max.jpg');
  background-size: cover;
}

#downtown_card {
  background: image-url('downtown.jpg');
  background-size: cover;
}

#cloudland_card {
  background: image-url('cloudland.jpg');
  background-size: cover;
  background-position: center;
}

#worthy_card {
  background: image-url('worthy.jpg');
  background-size: cover;
}

#sarah_baby {
  background: image-url('Sarah1000x1625.png');
  background-size: cover;
}

#andy_baby {
  background: image-url('Andy640x1040.png');
  background-size: cover;
}

#story_image {
  margin-bottom: 10px;
}


.card {
  border-radius: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  position: relative;
  .ribbon {
    background-color: rgba(20, 0, 20, 0.5);
    width: 100%;
  }
  .bottom_ribbon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;}
  h2, h3, h4, p {
    color: #ffffff;
    opacity: 1.0;
  }
  p {
  }
}

.home_card {
  @extend .card;
  height: 400px;
  margin-top: 2em;
}

.accomodation_card {
  @extend .card;
  height: 600px;
  margin-top: 2em;
}

.link_card {
  &:hover {
    text-decoration: none;
  }
}

.accomodation_description {
  color: #000000;
  font-size: 1.25em;
  line-height: 1.25em;
  &:hover {
    text-decoration: none;
    color: #f3f3f3;
  }
}

.activity_description {
  font-size: 1.25em;
  line-height: 1.25em;
  color: #ffffff;
}

.footer {
  font-size: 2em;
  margin-top: 10px;
}
